.footer {
  background-color: #1a1a1a;
  color: #e0e0e0;
  padding: 20px;
  font-family: 'Arial', sans-serif;
}
.footer-info{
  text-align: center;
}

.footer-top {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.footer-contact {
  display: flex;
  align-items: center;
  gap: 20px;
}

.footer-contact p {
  margin: 0;
  font-size: 14px;
}

.instagram-icon {
  color: #e0e0e0;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
}

.address-section,
.nav-section,
.order-section {
  max-width: 300px;
}

.nav-section ul {
  list-style: none;
  padding: 0;
}

.nav-section li {
  margin-bottom: 10px;
}

.nav-section a {
  color: #e0e0e0;
  text-decoration: none;
  text-align:left;

}

.nav-section a:hover {
  color: #f5a623;
}

.order-section {
  text-align: center;
}

.order-section span {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
}

.food-platforms {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.food-platform-logo {
  width: 50px;
  height: auto;
}

.footer-bottom {
  text-align: center;
  border-top: 1px solid #444;
  padding-top: 10px;
}

.nav-left {
  text-align: left;
}

@media (max-width: 480px) {
  .footer {
    padding: 4px;
  }

  .footer-info p {
    font-size: 9px;
    line-height: 1.2;
    text-align: center;
    margin: 5px 0;
  }

  .footer-top {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-contact p {
    font-size: 9px;
    margin: 2px 0;
  }

  .footer-contact a {
    margin-top: 5px;
  }

  .footer-content {
    flex-direction: column;
    align-items: center;
  }

  .address-section, .nav-section, .order-section {
    width: 100%;
    margin-bottom: 10px;
  }

  .address-section p,
  .nav-section ul li,
  .order-section span {
    font-size: 9px;
    line-height: 1.2;
  }

  .food-platforms {
    display: flex;
    justify-content: center;
    margin-top: 5px;
  }

  .food-platform-logo {
    width: 20px;
    margin: 0 5px;
  }

  .footer-bottom p {
    font-size: 9px;
    text-align: center;
  }

  h3 {
    font-size: 11px;
    text-align: center;
    margin: 5px 0;
  }

  .instagram-icon {
    margin-top: 5px;
    font-size: 17px;
  }
}


.footer-bottom {
  text-align: center;
  padding: 20px 0;
  background-color: #000;
  color: #fff;
  font-size: 14px;
}

.ss-developers {
  font-weight: bold;
  text-decoration: underline;
  color: #ffd700; 
  cursor: pointer;
}

.ss-developers:hover {
  color: #ff8c00; 
}
